<!DOCTYPE html>
<html>
  <head>
    <link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylsheet">
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar'>
      <div>
        <ul>
          <li class="nav-item active">
            <a class ='navbar-link' href="#">Accueil</a>
          </li>
          <li class="nav-item active">
            <a class ='navbar-link' href="static_pages/team.html.erb"> La Team</a>
          </li>
          <li class="nav-item active">
            <a class ='navbar-link' href="static_pages/contact.html.erb"> Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
